/* stylelint-disable no-descending-specificity */

.section > .text-media-wrapper:has(.cover-image) {
  max-width: 1024px;
}
.section > .text-media-wrapper::after {
  content: "";
  display: table;
  clear: both;
}
.section > .text-media-wrapper .text-media-content {
  text-wrap: pretty;
}
.section > .text-media-wrapper .text-media-content :last-child {
  margin-bottom: 0;
}
.section > .text-media-wrapper .text-media-image-caption {
  --font-size: .8em;
}
.section > .text-media-wrapper .text-media-cta-buttons {
  display: flex;
  justify-content: center;
}
.section > .text-media-wrapper .text-media.heading-accent h2, .section > .text-media-wrapper .text-media.heading-accent h3, .section > .text-media-wrapper .text-media.heading-accent h4 {
}
.section > .text-media-wrapper .text-media > div:first-child h2, .section > .text-media-wrapper .text-media > div:first-child h3, .section > .text-media-wrapper .text-media > div:first-child h4 {
  text-align: center;
}
.section > .text-media-wrapper .text-media.left-image > div:has(picture), .section > .text-media-wrapper .text-media.left > div:has(picture) {
  float: left;
  width: 52%;
  padding-right: 1.75rem;
  padding-bottom: 0.75rem;
}
.section > .text-media-wrapper .text-media.right-image > div:has(picture), .section > .text-media-wrapper .text-media.right > div:has(picture) {
  float: right;
  width: 52%;
  padding-left: 1.75rem;
  padding-bottom: 0.75rem;
}
.section > .text-media-wrapper .text-media > .text-media-cta-buttons p, .section > .text-media-wrapper .text-media > div:has(picture) p {
  margin-bottom: 0;
  margin-top: 0.275rem;
}
.section > .text-media-wrapper .text-media.narrow-center {
  max-width: 40rem;
  margin: auto;
  text-align: center;
  text-wrap: balance;
}
.section > .text-media-wrapper .text-media.narrow-column {
  max-width: 640px;
  margin: auto;
}
.section > .text-media-wrapper .text-media.two-columns .text-media-content {
  -moz-column-count: 2;
       column-count: 2;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}
.section > .text-media-wrapper .text-media.p-large-thin {
  --font-size: 22px;
  --font-weight: 200;
}
.section > .text-media-wrapper .text-media.cover-image {
  display: grid;
  grid-template-areas: "stack";
  max-width: 1024px;
  /* stylelint-disable-next-line selector-max-specificity */
}
.section > .text-media-wrapper .text-media.cover-image > * {
  grid-area: stack;
  align-self: center;
  text-align: center;
}
.section > .text-media-wrapper .text-media.cover-image > div:has(.text-media-content) {
  margin: auto;
}
.section > .text-media-wrapper .text-media.cover-image > div:has(picture) {
  height: 100%;
  overflow: hidden;
}
.section > .text-media-wrapper .text-media.cover-image > div:has(picture) * {
  height: 100%;
}
.section > .text-media-wrapper .text-media.cover-image > div:has(picture) img {
  width: 100%;
  max-width: none;
  filter: brightness(0.5);
  -o-object-fit: cover;
     object-fit: cover;
}
.section > .text-media-wrapper .text-media.cover-image.bg-darker > * {
  filter: brightness(1);
}
.section > .text-media-wrapper .text-media.text-inverse {
  --color: white;
}
.section > .text-media-wrapper .text-media.text-inverse h1, .section > .text-media-wrapper .text-media.text-inverse h2, .section > .text-media-wrapper .text-media.text-inverse h3, .section > .text-media-wrapper .text-media.text-inverse h4, .section > .text-media-wrapper .text-media.text-inverse h5, .section > .text-media-wrapper .text-media.text-inverse h6 {
  --color: white;
}

.section > .text-media-wrapper .text-media.text-media-card > div:has(picture) {
  margin-bottom: 0.75rem;
}
.section > .text-media-wrapper .text-media.text-media-card > div:not(:has(picture)) {
  margin-left: 1rem;
  margin-right: 1rem;
}
.section > .text-media-wrapper .text-media.text-media-card .text-media-cta-buttons {
  margin-top: 0.5rem;
}